# POLI 175 - Machine Learning for Social Sciences

## Python Refresh I

---

# Data Science with Pandas

## Load Pandas

Load pandas is very easy. Provided that the package is installed (if not, check [here](https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html) how to install it), type:

In [1]:
import pandas as pd

## Load Data into Python

To start having fun, we need to load data into Python. We can do this in three ways: from a local file, from the internet, and from data typed in the keyboard.

### From Locale

First, we need to find the working directory. To do that, we need to use the library `os`. To do this you need to:

```
import os
print(os.getcwd())
```

In [2]:
# My code here
import os
print(os.getcwd())

/Users/baraazekeria/UCSD/POLI175/poli175/wk01/lec03

## Load Data into Python

Then, you need to put the file in the folder. If you need to change the folder, use the function:

```
os.chdir("new_path_here")
```

Now that we know the folder, and the file is there, we can load it:

```
dat = pd.read_csv('file_name_here.csv')
```

### Load Dataset on the internet

The way we will load here is from the internet. 

For example, suppose the following dataset: https://raw.githubusercontent.com/umbertomig/qtm150/master/datasets/PErisk.csv.

To open, we use the `read_csv` command as we did with the locale version.

In [3]:
# My code here
dat = pd.read_csv("https://raw.githubusercontent.com/umbertomig/qtm150/master/datasets/PErisk.csv")
dat.head()

      country  courts     barb2  prsexp2  prscorr2      gdpw2
0   Argentina       0 -0.720775        1         3   9.690170
1   Australia       1 -6.907755        5         4  10.304840
2     Austria       1 -4.910337        5         4  10.100940
3  Bangladesh       0  0.775975        1         0   8.379768
4     Belgium       1 -4.617344        5         4  10.250120

### From typing in the keyboard

We can also build a dataset from scratch.

For example, we could build a simple dataset in the following way:

```
dat = pd.DataFrame({
    "v1": ['d1', 'd2', 'd3'],
    "v2": [1, 2, 3],
    "v3": ['A', 'B', 'A'],
    "v4": [2.0, 1.1, 2.2]})
```

And this works for small datasets, with the inconvenience of having to type.

## Dataset Information

Suppose we have a pandas dataset called `dat`. To make it more realistic, use the following example:

```
# For me: PErisk
dat = pd.read_csv('https://raw.githubusercontent.com/umbertomig/qtm150/master/datasets/PErisk.csv')

# For you: tips
dat2 = pd.read_csv('https://raw.githubusercontent.com/umbertomig/qtm151/main/datasets/tips.csv')
```

If you are having VPN issues, let me know.

In [4]:
# My code here
dat = pd.read_csv("https://raw.githubusercontent.com/umbertomig/qtm150/master/datasets/PErisk.csv")
dat2 = pd.read_csv("https://raw.githubusercontent.com/umbertomig/qtm151/main/datasets/tips.csv")

### .info(.)

This method prints the information about the content of a dataset.

Syntax and Usage: `print(dat.info())`

In [5]:
# My code here
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   62 non-null     object
 1   courts    62 non-null     int64
 2   barb2     62 non-null     float64
 3   prsexp2   62 non-null     int64
 4   prscorr2  62 non-null     int64
 5   gdpw2     62 non-null     float64
dtypes: float64(2), int64(3), object(1)
memory usage: 3.0+ KB

### .head(.)

This method prints the first few observations of the dataset.

Syntax and Usage: `print(dat.head())`

In [6]:
# My code here
dat.head()

      country  courts     barb2  prsexp2  prscorr2      gdpw2
0   Argentina       0 -0.720775        1         3   9.690170
1   Australia       1 -6.907755        5         4  10.304840
2     Austria       1 -4.910337        5         4  10.100940
3  Bangladesh       0  0.775975        1         0   8.379768
4     Belgium       1 -4.617344        5         4  10.250120

### .shape

This prints the number of rows and columns of a dataset.

Syntax and Usage: `print(dat.shape)`

Note: no parenthesis necessary.

In [7]:
# My code here
dat.shape

(62, 6)

### .describe(.)

This method gives us a few summary statistics of the dataset.

Syntax and Usage: `print(dat.describe())`

In [8]:
# My code here
dat.describe()

          courts      barb2    prsexp2   prscorr2      gdpw2
count  62.000000  62.000000  62.000000  62.000000  62.000000
mean    0.451613  -2.925557   3.274194   2.532258   9.041875
std     0.501716   2.707211   1.369089   1.501013   0.970264
min     0.000000  -6.907755   0.000000   0.000000   7.029973
25%     0.000000  -4.894882   3.000000   1.250000   8.381027
50%     0.000000  -2.353233   3.000000   2.000000   9.185412
75%     1.000000  -1.301007   4.000000   4.000000   9.889280
max     1.000000   2.337425   5.000000   5.000000  10.410180

### .values

This prints the observations in the dataset.

Syntax and Usage: `print(dat.values)`

Note: no parenthesis necessary.

In [9]:
# My code here
dat.values

array([['Argentina', 0, -0.7207754, 1, 3, 9.69017],
       ['Australia', 1, -6.907755, 5, 4, 10.30484],
       ['Austria', 1, -4.910337, 5, 4, 10.10094],
       ['Bangladesh', 0, 0.7759748, 1, 0, 8.379768],
       ['Belgium', 1, -4.617344, 5, 4, 10.25012],
       ['Bolivia', 0, -2.46144, 0, 0, 8.583543],
       ['Botswana', 1, -1.244868, 4, 3, 8.77771],
       ['Brazil', 1, -0.4570337, 4, 3, 9.375601],
       ['Burma', 0, 1.604343, 3, 1, 7.096721],
       ['Cameroon', 0, -4.229065, 3, 1, 8.120886],
       ['Canada', 1, -6.907755, 5, 5, 10.41018],
       ['Chile', 1, -1.542761, 3, 2, 9.261224],
       ['Colombia', 0, -2.057821, 3, 2, 9.191973],
       ['Congo-Kinshasa', 0, -2.323288, 1, 0, 7.095064],
       ['Costa Rica', 1, -5.090003, 3, 4, 9.167329],
       ["Cote d'Ivoire", 1, -4.229065, 4, 2, 8.228711],
       ['Denmark', 1, -6.907755, 5, 5, 10.10651],
       ['Dominican Republic', 0, -2.378862, 2, 2, 8.899731],
       ['Ecuador', 1, -1.845337, 3, 2, 9.117786],
       ['Finland', 1, -6.907755, 5, 5, 10.12367],
       ['Gambia, The', 0, -1.543332, 4, 2, 7.501082],
       ['Ghana', 0, -1.011517, 2, 1, 7.597396],
       ['Greece', 0, -2.073237, 3, 3, 9.701494],
       ['Hungary', 1, -0.9041942, 4, 3, 9.35184],
       ['India', 0, -2.105104, 4, 2, 7.970049],
       ['Indonesia', 0, -2.100232, 3, 0, 8.39231],
       ['Iran', 0, 2.337425, 0, 2, 9.368114],
       ['Ireland', 1, -6.907755, 5, 4, 9.891465],
       ['Israel', 0, -2.319996, 4, 4, 10.06777],
       ['Italy', 1, -6.907755, 4, 3, 10.26078],
       ['Japan', 1, -6.907755, 5, 4, 9.892022],
       ['Kenya', 0, -2.327605, 2, 2, 7.619724],
       ['Korea, South', 0, -2.655795, 4, 1, 9.422787],
       ['Malawi', 0, -1.469424, 3, 3, 7.029973],
       ['Malaysia', 1, -3.927949, 4, 3, 9.178953],
       ['Mexico', 0, -1.657935, 2, 2, 9.661735],
       ['Morocco', 0, -3.156958, 3, 1, 8.78048],
       ['New Zealand', 1, -6.907755, 5, 5, 10.17626],
       ['Nigeria', 0, 0.3001068, 1, 1, 7.68708],
       ['Norway', 1, -6.907755, 5, 5, 10.29833],
       ['Papua New Guinea', 1, -2.636158, 4, 2, 8.126518],
       ['Paraguay', 0, -0.9707628, 3, 0, 8.727616],
       ['Philippines', 0, -2.964776, 1, 1, 8.384804],
       ['Poland', 1, 1.317021, 3, 3, 9.0524],
       ['Portugal', 1, -2.459625, 4, 3, 9.444543],
       ['Sierra Leone', 0, 1.406406, 3, 1, 7.759614],
       ['Singapore', 1, -4.848516, 5, 5, 9.882724],
       ['South Africa', 0, -2.17582, 3, 4, 9.191871],
       ['Spain', 1, -6.907755, 5, 3, 10.04733],
       ['Sri Lanka', 0, -1.864343, 2, 2, 8.627661],
       ['Sweden', 1, -6.907755, 4, 5, 10.22434],
       ['Switzerland', 1, -6.907755, 5, 5, 10.3411],
       ['Syria', 0, 1.725166, 1, 1, 9.664151],
       ['Thailand', 0, -6.907755, 3, 2, 8.548692],
       ['Togo', 0, -4.229065, 4, 1, 7.331715],
       ['Tunisia', 0, -2.585399, 2, 2, 9.047586],
       ['Turkey', 0, -2.673243, 3, 2, 8.978912],
       ['United Kingdom', 1, -6.907755, 5, 5, 10.12727],
       ['Uruguay', 0, -2.127775, 2, 2, 9.414342],
       ['Venezuela', 1, 0.428845, 3, 2, 9.84882],
       ['Zambia', 0, 0.9658105, 3, 1, 7.726213],
       ['Zimbabwe', 0, -0.6403214, 3, 2, 7.965893]], dtype=object)

### .columns

This prints the variables information of the dataset.

Syntax and Usage: `print(dat.columns)`

Note: no parenthesis necessary.

In [10]:
# My code here
dat.columns

Index(['country', 'courts', 'barb2', 'prsexp2', 'prscorr2', 'gdpw2'], dtype='object')

### .index

This prints informations about the dataset rows.

Syntax and Usage: `print(dat.index)`

Note: no parenthesis necessary.

In [11]:
# My code here
dat.index

RangeIndex(start=0, stop=62, step=1)

**Exercise**: Run the same examples for the dataset `dat2`

In [12]:
## Your answers here!
dat2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   obs      244 non-null    int64
 1   totbill  244 non-null    float64
 2   tip      244 non-null    float64
 3   sex      244 non-null    object
 4   smoker   244 non-null    object
 5   day      244 non-null    object
 6   time     244 non-null    object
 7   size     244 non-null    int64
dtypes: float64(2), int64(2), object(4)
memory usage: 15.4+ KB

In [13]:
dat2.head()

   obs  totbill   tip sex smoker  day   time  size
0    1    16.99  1.01   F     No  Sun  Night     2
1    2    10.34  1.66   M     No  Sun  Night     3
2    3    21.01  3.50   M     No  Sun  Night     3
3    4    23.68  3.31   M     No  Sun  Night     2
4    5    24.59  3.61   F     No  Sun  Night     4

In [14]:
dat2.shape

(244, 8)

In [15]:
dat2.describe()

              obs     totbill         tip        size
count  244.000000  244.000000  244.000000  244.000000
mean   122.500000   19.785943    2.998279    2.569672
std     70.580923    8.902412    1.383638    0.951100
min      1.000000    3.070000    1.000000    1.000000
25%     61.750000   13.347500    2.000000    2.000000
50%    122.500000   17.795000    2.900000    2.000000
75%    183.250000   24.127500    3.562500    3.000000
max    244.000000   50.810000   10.000000    6.000000

In [16]:
dat2.values

array([[1, 16.99, 1.01, ..., 'Sun', 'Night', 2],
       [2, 10.34, 1.66, ..., 'Sun', 'Night', 3],
       [3, 21.01, 3.5, ..., 'Sun', 'Night', 3],
       ...,
       [242, 22.67, 2.0, ..., 'Sat', 'Night', 2],
       [243, 17.82, 1.75, ..., 'Sat', 'Night', 2],
       [244, 18.78, 3.0, ..., 'Thu', 'Night', 2]], dtype=object)

In [17]:
dat2.columns

Index(['obs', 'totbill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [18]:
dat2.index

RangeIndex(start=0, stop=244, step=1)

## Data Manipulation

### Subsetting variables (columns)

To subset variables the sintax is simple. When it is only one variable:

```
dat["var_name"]
```

When it is two or more, you need to enclose them in a list:

```
dat[["var1", "var2"]]
```

In [19]:
# My code here

### Subsetting cases (rows)

Now, to work with cases, notice that pandas allows us to do vectorized operations. For instance:

```
dat["var_name"] > some_number
```

Returns True, if the variable is greater than the number, and False otherwise. To subset the dataset, you need to:

```
dat[dat["var_name"] > some_number]
```

### Subsetting cases (rows)

For multiple comparisons, the syntax is also easy to use:

```
dat[ (dat["v1"] == "some_value") & (dat["v2"] == "some_other_value") ]
```

And if we want a command similar to `%in%` in R, we can use the `.isin(.)` method:

```
dat[ dat["v1"].isin(["some_value", "some_other_value"]) ]
```

In [20]:
# My code here
dat2.columns

Index(['obs', 'totbill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

**Exercise**: Filter the `tips` dataset (our `dat2`) by:

1. Bills of more than 10 dollars
2. Smokers
3. Weekend

Do each of these separately, then do all together.

In [21]:
## Your answers here!

In [22]:
dat2[dat2["totbill"] > 10]

     obs  totbill   tip sex smoker  day   time  size
0      1    16.99  1.01   F     No  Sun  Night     2
1      2    10.34  1.66   M     No  Sun  Night     3
2      3    21.01  3.50   M     No  Sun  Night     3
3      4    23.68  3.31   M     No  Sun  Night     2
4      5    24.59  3.61   F     No  Sun  Night     4
..   ...      ...   ...  ..    ...  ...    ...   ...
239  240    29.03  5.92   M     No  Sat  Night     3
240  241    27.18  2.00   F    Yes  Sat  Night     2
241  242    22.67  2.00   M    Yes  Sat  Night     2
242  243    17.82  1.75   M     No  Sat  Night     2
243  244    18.78  3.00   F     No  Thu  Night     2

[227 rows x 8 columns]

In [23]:
dat2[dat2["smoker"] == "Yes"]

     obs  totbill   tip sex smoker  day   time  size
56    57    38.01  3.00   M    Yes  Sat  Night     4
58    59    11.24  1.76   M    Yes  Sat  Night     2
60    61    20.29  3.21   M    Yes  Sat  Night     2
61    62    13.81  2.00   M    Yes  Sat  Night     2
62    63    11.02  1.98   M    Yes  Sat  Night     2
..   ...      ...   ...  ..    ...  ...    ...   ...
234  235    15.53  3.00   M    Yes  Sat  Night     2
236  237    12.60  1.00   M    Yes  Sat  Night     2
237  238    32.83  1.17   M    Yes  Sat  Night     2
240  241    27.18  2.00   F    Yes  Sat  Night     2
241  242    22.67  2.00   M    Yes  Sat  Night     2

[93 rows x 8 columns]

In [24]:
dat2[dat2["day"].isin(["Sat", "Sun"])]

     obs  totbill   tip sex smoker  day   time  size
0      1    16.99  1.01   F     No  Sun  Night     2
1      2    10.34  1.66   M     No  Sun  Night     3
2      3    21.01  3.50   M     No  Sun  Night     3
3      4    23.68  3.31   M     No  Sun  Night     2
4      5    24.59  3.61   F     No  Sun  Night     4
..   ...      ...   ...  ..    ...  ...    ...   ...
238  239    35.83  4.67   F     No  Sat  Night     3
239  240    29.03  5.92   M     No  Sat  Night     3
240  241    27.18  2.00   F    Yes  Sat  Night     2
241  242    22.67  2.00   M    Yes  Sat  Night     2
242  243    17.82  1.75   M     No  Sat  Night     2

[163 rows x 8 columns]

### Simple computations

It is simple to create new variables from older ones.

```
# Summing two variables
dat["my_new_var"] = dat["my_old_var1"] + dat["my_old_var2"]

# Multiplying by a constant
dat["my_new_var"] = dat["my_old_var1"] * constant

# Apply some numpy function (try to always use numpy functions, as pandas is based on numpy)
import numpy as np
dat["my_new_logged_var"] = np.log(dat["my_old_var"])
```

In [25]:
# My code here

**Exercise**: In the `tips` dataset, create the variable `prop_tip`, which is the proportion of the tip with relation to the total bill.

In [26]:
## Your answers here!

dat2["prop_tip"] = dat2["tip"] / dat2["totbill"]
dat2[["tip", "totbill", "prop_tip"]]

      tip  totbill  prop_tip
0    1.01    16.99  0.059447
1    1.66    10.34  0.160542
2    3.50    21.01  0.166587
3    3.31    23.68  0.139780
4    3.61    24.59  0.146808
..    ...      ...       ...
239  5.92    29.03  0.203927
240  2.00    27.18  0.073584
241  2.00    22.67  0.088222
242  1.75    17.82  0.098204
243  3.00    18.78  0.159744

[244 rows x 3 columns]

## Statistics

We can easily compute statistics from the data. Here are a few methods that we have available:

| Method           | Description                  |
|------------------|------------------------------|
| `.median()`      | Median                       |
| `.mean()`        | Mean                         |
| `.min()`         | Minimum                      |
| `.max()`         | Maximum                      |
| `.var()`         | Variance                     |
| `.std()`         | Standard Deviation           |
| `.sum()`         | Sum values                   |
| `.mode()`        | More frequent values         |
| `.quantile(val)` | Quantile value (btw 0 and 1) |

## Statistics

In [27]:
# My code here
dat.head()

      country  courts     barb2  prsexp2  prscorr2      gdpw2
0   Argentina       0 -0.720775        1         3   9.690170
1   Australia       1 -6.907755        5         4  10.304840
2     Austria       1 -4.910337        5         4  10.100940
3  Bangladesh       0  0.775975        1         0   8.379768
4     Belgium       1 -4.617344        5         4  10.250120

In [28]:
dat["gdpw2"].quantile(0.9)

10.219532

In [29]:
dat["gdpw2"].sum()

560.5962360000001

**Exercise**: For the `tips` dataset:

1. Compute the mean and median of tip
2. Compute the mode of day
3. Compute the first quartile of the totbill.

In [30]:
## Your answers here!
dat2["tip"].mean()

2.9982786885245902

In [31]:
dat2["tip"].median()

2.9

In [32]:
dat2["day"].mode()

0    Sat
dtype: object

In [33]:
dat2["totbill"].quantile(0.25)

13.3475

## Questions?

## Great job! See you next class!